AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_key
AWS_SECRET_ACCESS_KEY=your_secret
BEDROCK_EMEDDING_MODEL_ID=amazon.titan-embed-text-v2:0

PINECONE_API_KEY=your_pinecone_key
PINECONE_ENVIRONMENT=your_pinecone_env
PINECONE_INDEX_NAME=rag-demo-index

CHUNK_SIZE=800
CHUNK_OVERLAP=100